{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>COVID-19 Spread Analysis</h1>
  <div class="row">

    <div class="col-4">
      <h5>
        <font color="red">Top 15 countries</font>
      </h5>
      <p>This data comes from a resource</p>
      <table class="table-responsive-sm table-dark">
        <thead>
          <tr>
            <th scope="col">Country &nbsp; &nbsp; &nbsp;</th>
            <th scope="col">Confirmed</th>
          </tr>
          <tr>
            <td>USA</td>
            <td>33,044,872</td>
          </tr>
          <tr>
            <td>India</td>
            <td>18,881,587</td>
          </tr>
          <tr>
            <td>Brazil</td>
            <td>14,592,886</td>
          </tr>
          <tr>
            <td>France</td>
            <td>5,592,390</td>
          </tr>
          <tr>
            <td>Russia</td>
            <td>4,805,288</td>
          </tr>
          <tr>
            <td>Turkey</td>
            <td>4,788,700	</td>
          </tr>
          <tr>
            <td>UK</td>
            <td>4,414,242</td>
          </tr>
          <tr>
            <td>Italy</td>
            <td>4,009,208</td>
          </tr>
          <tr>
            <td>Spain</td>
            <td>3,514,942</td>
          </tr>
          <tr>
            <td>Germany</td>
            <td>3,388,679</td>
          </tr>
          <tr>
            <td>Argentina</td>
            <td>2,954,943</td>
          </tr>
          <tr>
            <td>Colombia</td>
            <td>2,841,934</td>
          </tr>
          <tr>
            <td>Poland</td>
            <td>2,792,142</td>
          </tr>
          <tr>
            <td>Iran</td>
            <td>2,499,077</td>
          </tr>
          <tr>
            <td>Mexico</td>
            <td>2,340,934</td>
          </tr>
        </thead>
        <tbody>
          {% for pair in pairs %}
          <tr>
            <td>{{ pair[0]}}</td>
            <td>{{ pair[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <h5>
        <font color="firebrick">world map of corona cases</font>
      </h5>
      <p>using the same data we provided an updated map that contains</p>
      {{cmap|safe}}
    </div>
    {% endblock %}

  </div>
</div>